@font-face {
  font-family: "Barlow", sans-serif;
  src: url(assets/fonts/Barlow/Barlow-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Barlow", sans-serif;
  src: url(assets/fonts/Barlow/Barlow-Light.ttf);
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid black;
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  border: 1px solid red;
}

.footer {
  border: 1px solid red;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-link {
  position: relative;
  padding: 0 15px;
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.nav-link:hover {
  background-color: black;
  color: white;
  padding: 3px;
}
